{% extends "core/base.html" %}

{% block title %}Register as Doctor{% endblock %}

{% block content %}
    <h1 class="mb-4">Register as Doctor</h1>
    <!-- Patient registration form -->
    <form method="post">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 bg-light p-4">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="width: 40%;"><label for="name" class="form-label">Name:</label></td>
                                <td><input type="text" id="name" name="name" class="form-control" required></td>
                            </tr>
                            <tr>
                                <td><label for="email" class="form-label">Email:</label></td>
                                <td>
                                    <div class="input-group">
                                        <input type="email" id="email" name="email" class="form-control" required placeholder="doctor1@example.com">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="password" class="form-label">Password:</label></td>
                                <td><input type="password" id="password" name="password" class="form-control" required></td>
                            </tr>
                            <tr>
                                <td><label for="specialization" class="form-label">Specialization:</label></td>
                                <td>
                                    <div class="input-group">
                                        <select id="specialization" name="specialization" class="form-select" required>
                                            <option value="" disabled selected>Select a specialization</option>
                                            <option value="Internal Medicine">Internal Medicine</option>
                                            <option value="Emergency Medicine">Emergency Medicine</option>
                                            <option value="Critical Care Medicine">Critical Care Medicine</option>
                                            <option value="Anesthesiology">Anesthesiology</option>
                                            <option value="Psychiatry">Psychiatry</option>
                                            <option value="Family Medicine">Family Medicine</option>
                                            <option value="Obstetrics/Gynecology (OB/GYN)">Obstetrics/Gynecology (OB/GYN)</option>
                                            <option value="Orthopedic Surgery">Orthopedic Surgery</option>
                                            <option value="Cardiology">Cardiology</option>
                                            <option value="Gastroenterology">Gastroenterology</option>
                                            <option value="Pulmonology">Pulmonology</option>
                                            <option value="Radiology">Radiology</option>
                                            <option value="Nephrology">Nephrology</option>
                                            <option value="Neurology">Neurology</option>
                                            <option value="Urology">Urology</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="experience" class="form-label">Experience:</label></td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" id="experience" name="experience" class="form-control" required>
                                        <span class="input-group-text">Years</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg">Login</a>
                        <button type="submit" class="btn btn-secondary btn-lg ms-2">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <div id="flash-messages">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>

    <!-- Custom script to auto-close flash messages after a few seconds -->
    <script>
        // Auto-close flash messages after 5 seconds
        setTimeout(function() {
            $('#flash-messages .alert').alert('close');
        }, 5000);
    </script>

{% endblock %}
