{% extends "core/base.html" %}

{% block title %}Book Appointment{% endblock %}

{% block content %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>

    <div class="container my-5">
        <div>
            <h1 class="display-4 fw-bold">Book Doctor</h1>
        </div>
  

        <form method="post" action="{{ url_for('book_doctor', doctor_email=doctor_email, doctor_name=doctor_name) }}">
            <div class="col-md-8">
                <label for="doctor_name" class="sr-only">Doctor Name</label>
                <div class="input-group mb-2">
                    <span class="form-control">{{ doctor_name }}</span>
                    <a href="{{ url_for('doctor_info', doctor_email=doctor_email) }}" class="btn btn-outline-secondary" type="button">View Profile</a>
                </div>
            </div>

            <!-- <div class="col-md-8">
                <h4>Doctor's Available Times</h4>
            </div> -->

            <!-- <div id='calendar'></div>  -->
        
            <div class="col-md-8">
                <label for="date" class="form-label fs-5">Appointment Date</label>
                <input type="date" class="form-control mb-2" id="date" name="date" required>
            </div>

            <!-- Display available time slots based on the selected date -->
            <div id="available-times" class="col-md-8 mt-3">
                <!-- Available times will be dynamically populated here -->
            </div>
        
            <div class="col-md-8">
                <label for="time" class="form-label fs-5">Appointment Time</label>
                <input type="time" class="form-control mb-2" id="time" name="time" required>
            </div>

            <div class="col-md-8">
                <label for="report" class="form-label fs-5">Share Existing Reports</label>
                <div class="mb-2">
                    {% for file in files %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="selected_reports" value="{{ file.report_name }}">
                            <label class="form-check-label" for="report{{ file.report_name}}">
                                {{ file.report_name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        
            <div class="col-md-8">
                <label for="reason" class="form-label fs-5">Reason to Visit</label>
                <textarea class="form-control mb-2" id="reason" name="reason" rows="3"></textarea>
            </div> 
        
            <div class="col-md-8 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary btn-lg">Book</button>
                <!-- <button type="button" class="btn btn-secondary btn-lg ms-2" id="backButton">Back</button> -->
                <a href="{{ url_for('patient_dashboard') }}" class="btn btn-secondary btn-lg ms-2">Back</a>
            </div>
        </form>        


        <div id="flash-messages">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>

    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Handle change event on the date input
            document.getElementById('date').addEventListener('input', function () {
                var selectedDate = this.value;
                var doctorEmail = "{{ doctor_email }}";
                // Fetch available times based on the selected date from the Flask app
                fetch(`/get_doctor_availability/${doctorEmail}?selected_date=${selectedDate}`)
                    .then(response => response.json())
                    .then(data => {
                        // Display the available times in the 'available-times' div
                        displayAvailableTimes(data);
                    });
            });
    
            function displayAvailableTimes(availability) {
                var availableTimesDiv = document.getElementById('available-times');
                availableTimesDiv.innerHTML = '';

                if (availability.length === 0) {
                    // If no availability, display a message
                    var notAvailableMessage = document.createElement('div');
                    notAvailableMessage.className = 'text-danger';
                    notAvailableMessage.style.fontSize = '22px';
                    notAvailableMessage.textContent = 'Not Available. Select another date.';
                    availableTimesDiv.appendChild(notAvailableMessage);
                } else {
                    // Display each available time in a box
                    var availableSlotsText = document.createElement('div');
                    availableSlotsText.className = 'text-success';
                    availableSlotsText.style.fontSize = '22px'; // Set the font size to 18px
                    availableSlotsText.textContent = 'Available Slots:';
                    availableTimesDiv.appendChild(availableSlotsText);

                    // Display each available time in a box with reduced width
                    availability.forEach(function (timeSlot) {
                        var startTime = formatTime(timeSlot.start_time);
                        var endTime = formatTime(timeSlot.end_time);

                        var timeSlotBox = document.createElement('div');
                        timeSlotBox.className = 'border p-1 m-2';
                        timeSlotBox.style.backgroundColor = 'lightgreen';
                        timeSlotBox.style.width = '180px'; 
                        timeSlotBox.style.textAlign = 'center';
                        timeSlotBox.textContent = `${startTime} - ${endTime}`;
                        availableTimesDiv.appendChild(timeSlotBox);
                    });
                }
            }

            function formatTime(time) {
                // Format time to include AM/PM
                var formattedTime = new Date('2022-01-01T' + time);
                return formattedTime.toLocaleString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true });
            }

        });
    </script>
    
    
    
       

    <!-- Custom script to auto-close flash messages after a few seconds -->
    <script>
        // Auto-close flash messages after 5 seconds
        setTimeout(function() {
            $('#flash-messages .alert').alert('close');
        }, 5000);
    </script>


    <!-- <script>
        document.getElementById('backButton').addEventListener('click', function() {
            window.history.back();
        });
    </script> -->
{% endblock %}
