{% extends "core/base.html" %}

{% block title %}Patient Information{% endblock %}

{% block content %}
    <div class="container my-5">
        <div>
            <h1 class="display-4 fw-bold">Patient Information</h1>
        </div>

        <div>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Patient Name</th>
                        <td>{{ patient_info.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ patient_info.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Age</th>
                        <td>{{ patient_info.age }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Gender</th>
                        <td>{{ patient_info.gender }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Height</th>
                        <td>{{ patient_info.height }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Weight</th>
                        <td>{{ patient_info.weight }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Medical History</th>
                        <td>{{ patient_info.medical_history }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Past Reports Section -->
        <div class="my-4">
            <h2 class="fw-bold">Past Reports</h2>
            {% if patient_reports %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Report Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in patient_reports %}
                            <tr>
                                <td>{{ report.report_name }}</td>
                                <td>
                                    <a href="{{ url_for('serve_report', file_path=report.file_path) }}" class="btn btn-primary btn-sm">View Report</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No past reports available.</p>
            {% endif %}
        </div>

        <div class="col-auto">
            <button class="btn btn-secondary" id="backButton">Back</button>
        </div>
    </div>
    <script>
        document.getElementById('backButton').addEventListener('click', function() {
            window.history.back();
        });
    </script>
{% endblock %}