<footer class="text-center py-4">
    <div class="container">
        <p>EliteKoders Team</p>
        <p>
            <a href="https://github.com/eshag06" target="_blank" style="color: #c44141;">Esha Ghorpade</a>,
            <a href="https://github.com/IlMinCho" target="_blank" style="color: #c44141;">Ilmin Cho</a>,
            <a href="https://github.com/kunalkumar168" target="_blank" style="color: #c44141;">Kunal Kumar</a>,
            <a href="https://github.com/Msushi" target="_blank" style="color: #c44141;">Matthew Lyons</a>
        </p>
    </div>
</footer>
