<!DOCTYPE html>
<html>
<head>
    <title>Create Doctor</title>
</head>
<body>
    <h2>Create Doctor</h2>
    <form id="createDoctorForm">
        <label for="name">Name:</label>
        <input type="text" id="name" required>
        <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" required>
        <br><br>
        <label for="specialization">Specialization:</label>
        <input type="text" id="specialization" required>
        <br><br>
        <label for="experience">Experience:</label>
        <input type="text" id="experience" required>
        <br><br>
        <button type="submit" onclick="createDoctor()">Submit</button>
        <br><br>
        <button type="submit" onclick="backLogin()">Home</button>
    </form>

    <script>
        function createDoctor() {
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var specialization = document.getElementById('specialization').value;
            var experience = document.getElementById('experience').value;

            // Perform create-patient request using fetch or other methods
            fetch('/create-doctor', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "name": name,
                    "email": email,
                    "password": password,
                    "specialization": specialization,
                    "experience": experience
                })
            })
            .then(response => response.text())
            .then(data => {
                console.log(data); // Display the response or perform appropriate actions
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
        function backLogin() {
            window.location.href = "{{ url_for('index') }}";
        }
    </script>
</body>
</html>