{% extends "core/base_minimal.html" %}

{% block title %}{{ title }}{% endblock %}

{% block main_content %}
    <div class="container-fluid flex-grow-1">
        <div class="row h-100">
            <!-- Right panel -->
            <div class="col-md-6 order-md-2 d-flex flex-column justify-content-center align-items-center bg-primary text-light text-left" style="min-height: 100vh; height: 100%;">
                <h1 class="fw-bold display-4">Patient Tracker System</h1>
                <div class="lead fs-3 font-monospace mt-4 col-8">
                    <p>The Patient Tracker is a web-based application designed to streamline the management of patient information and medical records. Both patient and doctor can use this portal.</p>
                </div>
                <!-- Footer-->
                <div class="align-self-end w-100">
                    {% include 'core/footer.html' %}
                </div>
            </div>

            <!-- Left panel - Login Form -->
            <div class="col-md-6 order-md-1 d-flex flex-column justify-content-center align-items-center p-4" style="min-height: 100vh; height: 100%;">
                <h2 class="text-center display-3 fw-bold pb-3">Login</h2>
                {% if message %}
                <p class="text-danger">{{ message }}</p>
                {% endif %}
                <form class="w-50" action="/login" method="post">
                    <div class="form-group mb-3">
                        <input type="email" name="email" class="form-control form-control-lg" id="email" placeholder="Email", value="{{ email }}">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" name="password" class="form-control form-control-lg" id="password" placeholder="Password">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" value="Login" class="btn btn-primary btn-lg">Login</button>
                        <button type="button" onclick="window.location.href='/register'" class="btn btn-secondary btn-lg ms-2">Register</button>
                    </div>
                </form>
                <p class="text-muted pt-4 text-center">Please Login or Register as New User.</p>
                <!-- {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}
                {% endif %} -->
                {% if error %}
                    <!-- Display the error using a popup box -->
                    <div class="error-popup" style="font-size: 22px;">
                        <strong>Error:</strong> {{ error }}
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            // Show the error-popup div after a delay
                            var errorPopup = document.querySelector('.error-popup');
                            if (errorPopup) {
                                setTimeout(function () {
                                    errorPopup.style.display = 'none';
                                }, 5000); // Adjust the delay in milliseconds (e.g., 5000 for 5 seconds)
                            }
                        });
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}