<!DOCTYPE html>
<html>
<head>
    <title>Search Doctors</title>
</head>
<body>
    <h2>Search for Doctors</h2>
    <form id="searchForm">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name">
        <br><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name">
        <br><br>
        <label for="specialization">Specialization:</label>
        <input type="text" id="specialization">
        <br><br>
        <button onclick="searchDoctors()">Search</button>
    </form>

    <div id="doctorList">
        <!-- Doctor list will be displayed here -->
    </div>

    <script>
        function searchDoctors() {
            var first_name = document.getElementById('first_name').value;
            var last_name = document.getElementById('last_name').value;
            var specialization = document.getElementById('specialization').value;

            fetch('/get-doctor-list', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ "first_name": first_name, "last_name": last_name, "specialization": specialization })
            })
            .then((response) => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error("NETWORK RESPONSE ERROR");
                }
            })
            .then((data) => {
                // Display the list of doctors in the HTML
                document.body.innerHTML = data;
            })
            .catch((error) => {
                console.error('Error:', error);
            });

            viewDoctors()
        }

        function viewDoctors() {
            fetch('/get-doctor-list', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then((response) => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error("NETWORK RESPONSE ERROR");
                }
            })
            .then((data) => {
                document.body.innerHTML = data;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            console.log(document);
        }
    </script>
</body>
</html>
